.label {
  font-size: 0.875rem;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  color: var(--foreground);
  line-height: 1;
  display: block;
  margin-bottom: 0.5rem;
}

.label.disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
